# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# PyTorch / Ultralytics temporary cache & runs
runs/
.cache/

# Allow required deliverables
!models/best.pt
!dataset/images/
!dataset/labels/
!outputs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
